header {
  font-size: 1.5rem;
  text-align: left;
  padding: .5rem;
  background-color: mediumseagreen
}

main {
  padding: .75rem;
  height: 1000px;
  width: 100%;
  background-color: lightgreen
}

Form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 30%;
  padding-bottom: 5px;
}
 